

.gallery {
    display: flex;
    padding: 24px 156px;
    justify-content: center;
    align-items: flex-start;
    gap: 24px;
    flex-wrap: wrap;
}

.gallery-image {
    display: block;
    transition: transform 0.2s ease;
    flex-shrink: 0;
}

.gallery-image:hover {
    transform: scaleX(1.04) scaleY(1.04);
}
.nav{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 24px;
}
