
@import url('./reset.css');

.feedback-form{
    display: flex;
    flex-direction: column;
    width: 408px;
    height: 296px;
    gap: 24px;
    justify-content: center;
    margin: 24px;
    
}

.check-text{
    display: flex;
    flex-direction: column;
    gap: 8px;
    font-family: Montserrat;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.04em;
    color: #2e2f42;
}
.btn{
    width: 95px;
    height: 40px;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.04em;
    color: #fff;
    border: none;
    border-radius: 8px;
    padding: 8px 16px;
    background: #4e75ff;
    color: #ffffff;
    font-family: Montserrat;
    font-weight: 500;
    text-align: center;
}

.btn:hover {
    background-color: #6c8cff;
}

.check_input {
    height: 40px;
    width: 360px;
    border: 1px solid #808080;
    border-radius: 4px;
}

.check_textarea{
    resize: none;
    height: 80px;
    width: 360px;
    border: 1px solid #808080;
    border-radius: 4px;
}
.nav_forms {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 24px;
}

